<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Monitoring System</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<!-- <div>
  <div class="title">
    <p>Patient Health Monitoring System</p>   
  </div>
</div> -->


  <div class="header-wrapper">
    <div class="logo">
              <h1>IHMS</h1>
    </div>
  <div class="header row">
      <div class="header-content col-lg-3">
            <div class="menu">
              <a href="https://google.com/">HOME</a>
            </div>
        </div>
    <div class="header-content col-lg-3">
            <div class="menu">
              <a href="#">Personal</a>
            </div>
        </div>
    <div class="header-content col-lg-3">
            <div class="menu">
              <a href="#">Prescription</a>
            </div>
        </div>
    <div class="header-content col-lg-3">
            <div class="menu">
              <a href="#">Prescription</a>
            </div>
        </div>

    </div>


</div>


<!-- <div class="in-box">
<div class="row">
  <div class="col-lg-4">
    <div class="items">
    <div class="item" id="chicken">Temperature</div> <p>Temperature</p> </div>
  </div>
  <div class="col-lg-4">
    <div class="items">
    <div class="item" id="beef">Heart rate</div> <p>Heart rate</p> </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="items">
    <div class="item" id="fish">SpO2</div> <p>SpO2</p> </div>
  </div>
</div>



</div> -->



  <!-- jQuery (Bootstrap JS plugins depend on it) -->
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>